footer {
  /* 
    These two lines replicate the "blurry white background"
    effect, as seen in iMessage
  */
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.4);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
}

footer > input {
  font-size: 16px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 15px;
  padding: 5px 15px;
  width: 80%;
}

footer > input:focus {
  outline: none;
}
